<hr>
<div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(/img/nlbooks/{{.value.image}})"></div>
      <ul class="details">
        <li class="author">
        {{- range $ky, $lbl := .value.authors -}}
        {{- if ne $ky 0 }}, {{ end -}}
        <a href="{{$lbl.website}}" data-toggle="tooltip" title={{$lbl.affiliation}}>{{- $lbl.name -}}</a>
        {{- end -}}
        </li>
        <li class="date">{{ .value.date}}</li>
        <li class="tags">
          <ul>
            {{ range $ky, $lbl := .value.labels}}
            <li><a href="/tags/{{ $lbl | urlize}}" target="_blank">{{$lbl}}</a></li>
            {{ end }}
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>{{ .value.title }}</h1>
      <p> {{ .value.summary }}</p>
        <p>
        {{ $myUrl := (index .value).url}}
        {{ partial "badge_nl" (dict "message" "Book" "link" $myUrl "target" "_blank" "logoWidth" "14" "color" "e91b21")}} {{ partial "badge" (dict "label" "GitHub" "message" "Code" "link" $myUrl "target" "_blank" "logo" "github" "logoWidth" "14" "color" "1f2428")}}
        </p>
    </div>
  </div>